<h2>订单列表</h2>

<%= form_tag admin_orders_path, :method => :get do %>

  <%= label_tag :total %>
  <%= text_field_tag :total %>

  <%= label_tag :ids %>
  <%= text_field_tag :ids %>

  <%= date_field_tag :date %>
  <%= submit_tag "Submit" %>

<% end %>

<p>
   <%= link_to "all", admin_orders_path, class: "btn btn-success pull-right" %>
   <%= link_to "pending", admin_orders_path( :status => "pending" ) %>
   <%= link_to "done", admin_orders_path( :status => "done" ) %>
</p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>生成时间</th>
      <th>订购者</th>
      <th>订单状态</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to(order.id, admin_order_path(order)) %></td>
        <td><%= order.created_at.to_s(:long) %></td>
        <td><%= order.billing_name %></td>
        <td><%= order.aasm_state %></td>
      </tr>
    <% end %>
  </tbody>
</table>
