<div class="row">
  <div class="col-md-6 col-xs-12 container-fluid">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium) %>
    <% else %>
      <%= image_tag("https://ww1.sinaimg.cn/large/006tNc79gy1fdyy9beax0g30a00a0mx3.gif", width: "400", height: "400") %>
    <% end %>
  </div>

  <div class="col-md-6 col-xs-12 container-fluid">
    <h2><%= @product.title %></h2>
    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div>商品数量: <%= @product.quantity %> </div>
    <div>商品价格: <%= @product.price %> ¥ </div>

    <div class="pull-right">
      <% if @product.quantity.present? && @product.quantity >0 %>
        <%= link_to("加入购物车", add_to_cart_product_path(@product), method: :post, class: "btn btn-danger btn-lg pull-right") %>
      <% else %>
        已销售一空，无法购买
      <% end %>
    </div>

  </div>
</div>
