<div class="row">
  <div class="col-md-6 col-xs-12 container-fluid">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium) %>
    <% else %>
      <%= image_tag("https://ww1.sinaimg.cn/large/006tNc79gy1fdyy9beax0g30a00a0mx3.gif", width: "400", height: "400") %>
    <% end %>
  </div>

  <div class="col-md-6 col-xs-12 container-fluid">
    <h2><%= @product.title %></h2>
    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div class="star-rating" data-score=<%= @avg_review %> ></div>
    <div>商品数量: <%= @product.quantity %> </div>
    <div>商品价格: <%= @product.price %> ¥ </div>

    <div class="pull-right">
      <% if @product.quantity.present? && @product.quantity >0 %>
        <%= link_to("加入购物车", add_to_cart_product_path(@product), method: :post, class: "btn btn-danger btn-lg pull-right") %>
      <% else %>
        已销售一空，无法购买
      <% end %>
    </div>

    <div class="review clearfix">
      <h3>共计:<%= @product.reviews.count %>条评论</h3>

      <%= simple_form_for [@product, @review] do |f| %>
        <div class="form-inputs">
          <div id="star-rating"></div>
          <%= f.input :comment %>
        </div>
        <div class="form-action">
          <%= f.submit "评论" %>
        </div>
      <% end %>
    </div>

      <% if @reviews.blank? %>
        <h3>No reviews just yet, would you like to add the first review?</h3>
        <!-- <%= link_to("第一条评论", new_product_review_path(@product), class: "btn btn-danger btn-lg") %> -->
      <% else %>
        <% @reviews.each do |review| %>
          <div class="reviews">
            <div class="star-rating" data-score=<%= review.rating %>></div>
            <p><%= review.comment %></p>
            <p>
              <%= review.user.email %> - <%= review.created_at %>
            </p>
          </div>
        <% end %>
      <% end %>
  </div>
</div>

<script>
  $('.star-rating').raty({
    path: '/assets',
    readOnly: true,
    score: function() {
          return $(this).attr('data-score');
    }
  });
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>
